body {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 100vh;
  background-image: linear-gradient(red, white);
}

#pokemonLogo {
  position: absolute;
  top: 20%;
  left: 50%;
  translate: -50% -50%;
  height: 200px;
  width: auto;
}

#btn {
  margin: 10px;
  border: none;
  color: red;
  background-color: white;
  padding: 20px;
}

#pokemonSprite {
  height: 250px;
  width: 180px;
  position: absolute;
  top: 80%;
  left: 50%;
  translate: -50% -50%;
}
